/*************  ✨ Codeium Command ⭐  *************/
mkdocs==1.1.2
mkdocs-material==5.5.4
mkdocs-jupyter==0.14.0
jupyter==1.0.0
ipython==7.21.0
ipykernel==5.3.4
pandoc==2.9.2.1
python-lunr==0.5.7
/******  dfcbb93d-f121-401f-82f7-32c76f1c80f0  *******/